<div>
  <el-table :data="rolesData" style="width: 100%">
    <!-- 下拉框 -->
    <el-table-column type="expand">
      <template slot-scope="scope">
        <!-- 第一层 -->
        <el-row
          class="row1"
          v-for="item1 in scope.row.children"
          :key="item1.id"
        >
          <el-col :span="4">
            <el-tag type="primary">{{ item1.authName }}</el-tag>
            <span class="el-icon-arrow-right"></span>
          </el-col>
          <el-col :span="20">
            <!-- 第二层 -->
            <el-row
              class="row2"
              v-for="item2 in item1.children"
              :key="item2.id"
            >
              <el-col :span="4">
                <el-tag type="success">{{ item2.authName }}</el-tag>
                <span class="el-icon-arrow-right"></span>
              </el-col>
              <el-col :span="20" class="row3">
                <!-- 第三层 -->
                <span v-for="item3 in item2.children" :key="item3.id">
                  <el-tag type="warning">{{ item3.authName }}</el-tag>
                </span>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>

    <!-- 主体部分 -->
    <el-table-column type="index" :index="indexMethod"> </el-table-column>
    <el-table-column prop="roleName" label="角色名称" width="180">
    </el-table-column>
    <el-table-column prop="roleDesc" label="描述" width="180">
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          plain
          size="mini"
          type="primary"
          icon="el-icon-edit"
        ></el-button>
        <el-button
          plain
          size="mini"
          type="danger"
          icon="el-icon-delete"
        ></el-button>
        <el-button
          plain
          size="mini"
          type="success"
          icon="el-icon-check"
          @click="getAssignRights(scope.row)"
          >分配权限</el-button
        >
      </template>
    </el-table-column>
  </el-table>
  <!-- 权限分配对话框 -->
  <el-dialog
    title="收货地址"
    :visible.sync="dialogAssignRightsVisible"
    label-width="80px"
  >
    <!-- 树结构 -->
    <el-tree
      :data="treeData"
      show-checkbox
      node-key="id"
      default-expand-all
      ref="tree"
      :props="defaultProps"
    >
    </el-tree>

    <!-- 底部确认区 -->
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogAssignRightsVisible = false">取 消</el-button>
      <el-button type="primary" @click="assignRights">确 定</el-button>
    </div>
  </el-dialog>
</div>
